* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/image001.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: rgba(255,255,255,0.7);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

header h1 {
    padding: 0.6rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.header-display {
    height: 15rem;
    border: 10px solid rgba(255,255,255,0.5);
    width: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-display-child {
    font-size: 10rem;
    color: red;
}

.btn {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 50px;
    margin-bottom: 20px;
} 

.left-btn {
    width: 49%;
    padding: 0.9rem;
    background-color: rgba(0,0,255,0.5);
    border-radius: 5px;
    border-color: blue;
    color: white;
    display: block;
}

.right-btn{
    width: 49%;
    padding: 0.9rem;
    background-color: rgba(0,128,0,0.5);
    border-radius: 5px;
    border-color: green;
    color: white;
    display: block;
}

.prev-display {
    border: 1px solid gray;
    width: 90%;
    height: 5rem;
    border-radius: 7px;
    background-color: rgba(219, 211, 211, 0.7);
    height: auto;
    color: black;
    padding: 10px;
}