* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./train.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin-top: 2rem;
    padding: 2rem;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color:  red;
}

section {
    width: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-container {
    width: 90%;
    border: 1px solid red;
}